/* LINKS */
.link {
    transition: color;
    text-decoration: none;
    color: #dcdee2;
    transition: 300ms;
    text-decoration: underline;
}

.link:visited {
    color: #dcdee2;
}

.link:hover {
    color: orange;
}

.proj {
    color: #dcdee2;
    font-size: 16px;
    transition: text-shadow 300ms;

}

.proj:hover {
    text-shadow: 0px 0px 10px #98d6e9;
}

.proj:visited {
    color: #dcdee2
}

.course {
    color: #dcdee2;
    text-decoration: NONE;
    transition: text-shadow 300ms;
}

.course:hover {
    text-shadow: 0px 0px 10px #98d6e9;
}

.course:visited {
    color: #dcdee2;
}